# API keys
# Keys needed for skills to work.

GOOGLE_GENAI_API_KEY=secret
FAL_API_KEY=secret
RETRO_DIFFUSION_API_KEY=secret
TRIPO_API_KEY=secret
ELEVENLABS_API_KEY=secret
WORLD_LABS_KEY=secret
OPENAI_API_KEY=secret
MESHY_API_KEY=secret
UTHANA_API_KEY=secret
